<div class="container pt-3">
  <h1>TODO APP</h1>

  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

    <label for="todoInput">Todo:</label>
    <input id="todoInput" type="text" formControlName="todo" class="form-control">

    <div class="mb-5">
      <button type="submit" [disabled]="!todoForm.valid" class="btn btn-info float-end">
        Add!
      </button>
    </div>
  </form>

  <h2>My todos:</h2>

  <div *ngIf="todos.length === 0" class="text-center">
    Brak todos.
  </div>

  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{ todo }}
    </li>
  </ul>
</div>
